.li1-box{
  display: flex;
  justify-content: space-between;
}

.li1-box-item{
  position: relative;
  flex: 0 0 45%;
  padding: 25px;
  box-sizing: border-box;
}


.li1-box-item>img{
  width: 50px;
  height: 50px;
}
.li2-box{
  padding: 50px;
}

.li2-box>input,.li2-box>textarea{
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  margin-bottom: 20px;
  border: none;
  background-color: #F4F5F7;
  border-radius: 10px;
  padding: 0 20px;
  box-shadow: inset 0 0 4px -1px rgb(0 0 0 / 15%);
  box-sizing: border-box;
  /* color: var(--headerFont); */
}
.li2-box>textarea{
  height: 200px;
  resize: none;
}
.li2-box>button{
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  background-color: var(--mainColor);
  color: var(--headerFont);
}

.content-li svg path{
  fill: var(--headerFont);
}
.content-li .li3-box{
  display: block;
  margin-bottom: 20px;
  padding: 0.5rem;
  cursor: pointer;
}

.li3-box h3{
  margin: 0px;
}

.li3-box p{
  margin: 20px 0;
  opacity: .8;
}
.address-wrap{
  display: flex;
  justify-content: space-between;
  color: #7B7B7D;
  font-size: 10px;
}

.address-wrap svg path{
  fill: #7B7B7D;
}
.address-wrap svg{
  margin-bottom: 3px;
}

.address-left span{
  margin-right: 5px;
}

.address-left span.zd{
  color: var(--mainColor);
}
.address-wrap .address-right{

}

 /* 手机*/
 @media screen and (max-width: 550px) {
  .content-li{
    display: block;
  }
  .li1-box{
    display: block !important;
  }
  .li2-box{
    padding: 10px;
  }
}
